<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost:2525/KasifPortal</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>KasifPortal</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GN_KASIFEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=DESKTOP-CTULLHV;Initial Catalog=GN_KASIF;Integrated Security=True;Application Name=EntityFramework" Name="Data Source=DESKTOP-CTULLHV;Initial Catalog=GN_KASIF;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-CTULLHV;Initial Catalog=GN_KASIF;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GN_KASIFEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=&quot;res://*/DB Operations.EntityObject.GN_KASIF.csdl|res://*/DB Operations.EntityObject.GN_KASIF.ssdl|res://*/DB Operations.EntityObject.GN_KASIF.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CTULLHV;initial catalog=GN_KASIF;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GN_KASIFEntities-Web.config Connection String">
      <ParameterValue>metadata="res://*/DB Operations.EntityObject.GN_KASIF.csdl|res://*/DB Operations.EntityObject.GN_KASIF.ssdl|res://*/DB Operations.EntityObject.GN_KASIF.msl";provider=System.Data.SqlClient;provider connection string="data source=DESKTOP-CTULLHV;initial catalog=GN_KASIF;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>